:root {
    --light: 0.1;
    --glow: 5px; 
}

html {
    font-size: 20px;
    font-family: "Monda", sans-serif;
}

body {
    margin: 0;
    background-image: url('night.jpg');
    height: 100vh;
    background-size: cover;
    background-position: top center;   
}

.night {
    height: 100vh;
    background-color: black;
    opacity: calc(1 - var(--light));
}

.neon {
    font-size: 4rem;
    color: #47ff00;
    position: absolute;
    left: 5%;
    bottom: 3%;
    letter-spacing: .5rem;
    text-shadow: rgb(255, 255, 255, 0.8) 0 0 calc(5 * var(--glow)), #47ff00 0 0 var(--glow);
    opacity: var(--light);
}

.far {
    font-size: 10rem;
    letter-spacing: 1.5rem;
}

input {
    position: absolute;
    width: 300px;
    top: 30px;
    left: 30px;
    height: 100px;
}

@media (min-width: 1024px) {
    html {
        font-size: 20px;
    }
}